<!-- contact section design -->

<section class="contact" id="contact">
  <div class="toast" [ngClass]="toastType" [hidden]="!showToast">{{ toastMessage }}</div>

  <h2 class="heading">Contact <span>Me!</span></h2>

  <form action="#" novalidate (submit)="sendEmail($event)">
    <div class="input-box">
      <input type="text" placeholder="Full Name" name="name" required />
      <input type="email" placeholder="Email Address" name="email" required />
    </div>
    <div class="input-box">
      <input type="number" placeholder="Mobile Number" name="mobile" required />
      <input type="text" placeholder="Email Subject" name="subject" required />
    </div>
    <textarea cols="30" rows="10" placeholder="Your Message" name="message" required></textarea>
    <input type="submit" value="Send Message" class="btn" />
  </form>
</section>
