<!-- About section design -->

<section class="about" id="about">
  <div class="about-img">
    <img src="../../../assets/images/profile.png" alt="Imagem de Perfil" />
  </div>
  <div class="about-content">
    <h2 class="heading">About <span>Me</span></h2>
    <h3>Frontend & Backend Developer!</h3>
    <p>
      With over 2+ years of experience in software development, I have worked on enterprise-level
      applications across industries. My expertise includes .NET development, Angular applications,
      CMS platforms like Sitecore and Optimizely, SQL databases, and cloud-based deployment
      workflows using Azure DevOps and Agile methodology. I enjoy building reusable components,
      optimizing application performance, and solving complex business problems.
    </p>
    <!--<a href="#" class="btn">Read More</a>-->
  </div>
</section>
