<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, it's Me</h3>
    <h1>Mohammad Vasim Akram</h1>
    <h3>And I'm a <span class="multiple-text"></span></h3>
    <p>
      I am a Software Engineer with 2+ years of professional experience in Frontend and Backend
      development. I specialize in building scalable web applications using .NET, Angular,
      JavaScript, TypeScript, SQL, Sitecore, and modern frontend libraries like D3.js and GridStack.
      I focus on creating high-performance, user-friendly applications and delivering
      business-driven software solutions.
    </p>
    <div class="social-media">
      <a href="https://github.com/Vasimakra" target="_blank"><i class="bx bxl-github"></i></a>
      <a href="https://www.linkedin.com/in/mohammad-vasim-akram-76b983266" target="_blank"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
    <a
      href="https://drive.google.com/file/d/1pzkUZ2AC1-5x8DXaS45N_q5fxwkdCMZO/view?usp=sharing"
      class="btn"
      target="_blank"
      rel="noopener noreferrer"
      >Download CV</a
    >
  </div>

  <div class="home-img">
    <img src="assets/images/imagee.png" alt="Foto de Perfil" />
  </div>
</section>
