<!-- portfolio section design -->

<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Project</span></h2>

  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="assets/images/bg_1.jpg" alt="Projeto 1" />
      <div class="portfolio-layer">
        <h4>Fresh Veg Mart (Web Design)</h4>
        <p>
          Implemented direct farmer-to-customer communication, achieving a 20% increase in
          satisfaction and 15% higher retention.Spearheaded the introduction of customizable
          produce, contributing to a 25% boost in average transaction value and a 30% increase in
          overall sales.
        </p>
        <!--<a href="#"><i class="bx bx-link-external"></i></a>-->
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/02.jpg" alt="Projeto 2" />
      <div class="portfolio-layer">
        <h4>Academic Project (Web Design)</h4>
        <p>
          Implemented a distributed task queue system using Java for efficient task
          indexing.Collaborated with a team to deploy the system on AWS EC2 instances and presented
          findings at a university symposium.
        </p>
        <!--<a href="#"><i class="bx bx-link-external"></i></a>-->
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/s4.jpg" alt="Projeto 3" />
      <div class="portfolio-layer">
        <h4>Harvestify (Web Design)</h4>
        <p>
          In agriculture, crop yield analysis and prediction are indispensable tools, empowering
          farmers with crucial insights. By leveraging data, farmers can make informed decisions to
          optimize productivity.
        </p>
        <!-- <a href="#"><i class="bx bx-link-external"></i></a>-->
      </div>
    </div>

    <div class="portfolio-box">
      <img src="assets/images/Im.jpg" alt="Projeto 4" />
      <div class="portfolio-layer">
        <h4>Ingenious House (IOT)</h4>
        <p>
          Implemented an analytical system with different user and portals for exposing different
          functionalities.
        </p>
        <!--<a href="#"><i class="bx bx-link-external"></i></a>-->
      </div>
    </div>
  </div>
</section>
